body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('assets/IMG_1746.JPG'); /* the image in the assets folder */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    background: rgba( 255, 255, 255, 0.95); /* this is a white color with a kinda see through */
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 10px 30px;
    text-align: center;

}

#searchForm {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;

}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: purple;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#resultSection {
    text-align: left;
    padding-top: 15px;
    border-top: 1px solid;
}

.error-msg {
    color: red;
    text-align: center;
    font-weight: bold;
}

.word-name {
    color: green;
    text-transform: capitalize;
}

